.App {
    min-width: 100%;
    min-height: 100%;
    background: pink;
  .stepButton {
    width: 40vw;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
